#root {
  margin: 30vw auto;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  font-family: Calibri, serif;
  background-image: -webkit-linear-gradient(-45deg, #00d0ff, #00ff66);
}
h1{
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0), rgba(255, 255, 255, 0.1));
}
button{
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  margin: 5px;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(25, 255, 25, 1);
}

body{
    background-image: -webkit-linear-gradient(0deg, #000000, #112111);
}

input{
  background-color: rgba(255, 255, 255, 0.5);
  border: 0 solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
